* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background: #222222;
}
*::-webkit-scrollbar-thumb {
  background-color: #585858;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
*::-webkit-scrollbar-corner {
  background: #181818;
}

body {
	margin: 0;
	padding: 0;
}

canvas {
  display: block;
}

.bx--accordion__item {
  border: none !important;
}
.bx--accordion__item::after {
  display: block;
  content: "";
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
  border-bottom: 1px solid #424242 !important;
}
.bx--accordion__content {
  padding: 1rem !important;
}
